
@{
    ViewBag.Title = "สถานะการถึงโรงเรียน";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<head>
    <link rel="stylesheet" href="~/wwwroot/css/Check.css" />
</head>

<body>
    <div class="container-table">
        <h1>สถานะการถึงโรงเรียน</h1>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ทะเบียนรถ</th>
                    <th>พนักงานขับรถ</th>
                    <th>ผู้ดูแลนักเรียน</th>
                    <th>สถานะ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a>1</a>
                    </td>
                    <td>
                        <a>คลอง 1-4</a>
                    </td>
                    <td>
                        <a>มานิต อิทธิโชต</a>
                    </td>
                    <td>
                        <a>จิรานุช บุดดา</a>
                    </td>
                    <td>
                        <div class="column5">
                            <button type="button" class="btn btn-primary btn-show-stf">ถึงแล้ว</button>
                            <a>XX.XX</a>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <a>2</a>
                    </td>
                    <td>
                        <a>คลอง 4-6</a>
                    </td>
                    <td>
                        <a>เอ๊ะ จิรากร</a>
                    </td>
                    <td>
                        <a>พัชราภา ไชยเชื้อ</a>
                    </td>
                    <td>
                        <div class="column5">
                            <button type="button" class="btn btn-primary btn-show-stf">ถึงแล้ว</button>
                            <a>XX.XX</a>
                        </div>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

</body>


