
@{
    ViewBag.Title = "SignIn";
}

<script src="~/wwwroot/app/services/authenService.js"></script>
<script src="~/wwwroot/app/controllers/authenController.js"></script>

@*ng-init="testAlert()"*@

<div ng-controller="authenController" ng-init="testAlert2()">
    {{user.id}} {{user.Firstname}} {{user.Lastname}}

    <button class="btn btn-primary">Submit</button>
</div>

@*ng-click="testAlert2()"*@